<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="color palette generator">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Color Palette Generator</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <link rel="author" href="humans.txt">
    </head>
    <body>
      <main id="app" class="container-fluid" v-cloak>
        <messenger :message="message"></messenger>
        <h1>Color Palette Generator</h1>
        <button class="sidebar-toggle" @click="toggleSidebar()" :class="{active: showSidebar}">
          <span class="sidebar-toggle-icon"></span>
        </button>
        <div class="row palette-generator">
          <div class="col-md-2 screen-only sidebar"
            :class="{shown: showSidebar}"
            :style="{height: sidebarHeight}">
            <form @submit="onSubmit($event)">
              <div class="form-group">
                <label>Palette name
                  <input type="text" class="form-control" v-model="colorInput.name">
                </label>
              </div>
              <div class="form-group">
                <label>Base color (hex)
                  <input type="text" class="form-control" v-model="colorInput.hex">
                  <div class="d-flex justify-content-between">
                    <div class="align-self-center">Choose base color</div>
                    <div id="color-box" class="color-box" :style="{backgroundColor: colorInput.hex}">
                      <i class="fas fa-crosshairs" v-if="!colorInput.hex"></i>
                    </div>
                  </div>
                </label>
              </div>
              <div class="form-group">
                <label>Show SASS variables
                  <input type="checkbox" v-model="showVariables">
                </label>
              </div>
              <div class="form-group">
                <button
                  @click="save()"
                  class="btn btn-primary"
                  :disabled="!colorInput.hex"
                  title="Save Color">
                  <i class="fas fa-plus"></i>
                </button>
                <button
                  @click="print()"
                  class="btn btn-dark"
                  :disabled="!colorInput.hex"
                  title="Print Palette">
                  <i class="fas fa-print"></i>
                </button>
                <button
                  @click="copyVariables()"
                  class="btn btn-dark"
                  :disabled="!colorInput.hex"
                  title="Copy Variables">
                  <i class="fas fa-copy"></i>
                </button>
                <button
                  @click="uploadVariables()"
                  class="btn btn-dark"
                  :disabled="!colorInput.hex"
                  title="Upload Variables to Server">
                  <i class="fas fa-upload"></i>
                </button>
              </div>
              <div class="stored-colors" v-if="storedColors.length">
                <h5>Stored Palettes</h5>
                <ul class="list-group">
                  <li v-for="palette in storedColors" class="list-group-item">
                    <span>{{palette.name}}</span>
                    <div class="d-flex justify-content-between align-items-center">
                      <div
                        @click="restore(palette)"
                        class="color-box"
                        :style="{backgroundColor: palette.hex}">
                      </div>
                      <button
                        @click="discard(palette)"
                        class="btn btn-danger btn-discard-palette"
                        title="Discard">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            </form>
          <div class="col-md-10 print-wide">
            <color-definition
              :show-variables="showVariables"
              :save="save"
              :color-input="colorInput">
            </color-definition>
          </div>
        </div>
      </main>

      <script src="lib/lodash.min.js"></script>
      <script src="lib/palette-generator.js"></script>
      <script src="lib/vanilla-picker.min.js"></script>
      <script src="lib/vue.js"></script>

      <script src="js/main.mjs" type="module"></script>
    </body>
</html>
