doctype html
head
  meta(charset='utf-8')
  meta(name='description' content='color palette generator')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Color Palette Generator
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
  link(rel='stylesheet' href='css/style.css')
  link(rel='author' href='humans.txt')
main#app.container-fluid(v-cloak='')
  messenger(:message='message')
  h1 Color Palette Generator
  button.sidebar-toggle(@click='toggleSidebar()' \:class='{active: showSidebar}')
    span.sidebar-toggle-icon
  .row.palette-generator
    .col-md-2.screen-only.sidebar(\:class='{shown: showSidebar}' \:style='{height: sidebarHeight}')
      form(@submit='onSubmit($event)')
        .form-group
          label
            | Palette name
            input.form-control(type='text' v-model='colorInput.name')
        .form-group
          label
            | Base color (hex)
            input.form-control(type='text' v-model='colorInput.hex')
            .d-flex.justify-content-between
              .align-self-center Choose base color
              #color-box.color-box(\:style='{backgroundColor: colorInput.hex}')
                i.fas.fa-crosshairs(v-if='!colorInput.hex')
        .form-group
          label
            | Show SASS variables
            input(type='checkbox' v-model='showVariables')
        .form-group
          button.btn.btn-primary(@click='save()' \:disabled='!colorInput.hex' title='Save Color')
            i.fas.fa-plus
          button.btn.btn-dark(@click='print()' \:disabled='!colorInput.hex' title='Print Palette')
            i.fas.fa-print
          button.btn.btn-dark(@click='copyVariables()' \:disabled='!colorInput.hex' title='Copy Variables')
            i.fas.fa-copy
        .stored-colors(v-if='storedColors.length')
          h5 Stored Palettes
          ul.list-group
            li.list-group-item(v-for='palette in storedColors')
              span {{palette.name}}
              .d-flex.justify-content-between.align-items-center
                .color-box(@click='restore(palette)' \:style='{backgroundColor: palette.hex}')
                button.btn.btn-danger.btn-discard-palette(@click='discard(palette)' title='Discard')
                  i.fas.fa-times
    .col-md-10.print-wide
      color-definition(:show-variables='showVariables' \:save='save' \:color-input='colorInput')
script(src='lib/lodash.min.js')
script(src='lib/palette-generator.js')
script(src='lib/vanilla-picker.min.js')
script(src='lib/vue.js')
script(src='js/main.mjs' type='module')
